<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
		<add name="ConnectionString"
			 connectionString="Data Source=DESKTOP-4ONGBTH\SQLEXPRESS;Initial Catalog=Med_Preserve;Persist Security Info=True;User ID=Vikky;Password=Vikas@0218"
			 providerName="System.Data.SqlClient" />
        <add name="Med_Preserve.Properties.Settings.Med_PreserveConnectionString"
            connectionString="Data Source=DESKTOP-4ONGBTH\SQLEXPRESS;Initial Catalog=Med_Preserve;Persist Security Info=True;User ID=Vikky;Password=Vikas@0218"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>