USE [master]
GO
/****** Object:  Database [Med_Preserve]    Script Date: 10/2/2023 12:21:11 PM ******/
CREATE DATABASE [Med_Preserve]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Med_Preserve', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Med_Preserve.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Med_Preserve_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Med_Preserve_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Med_Preserve].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Med_Preserve]
GO
/****** Object:  Table [dbo].[SensorData]    Script Date: 10/2/2023 12:21:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SensorData](
	[SensorID] [int] IDENTITY(1,1) NOT NULL,
	[SensorName] [nvarchar](50) NOT NULL,
	[Temperature] [float] NULL,
	[Humidity] [float] NULL,
	[Temperature_1] [float] NULL,
	[Humidity_1] [float] NULL,
	[Date] [date] NULL,
	[Time] [time](0) NOT NULL,
 CONSTRAINT [PK_SensorData] PRIMARY KEY CLUSTERED 
(
	[SensorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserData]    Script Date: 10/2/2023 12:21:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserData](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Mobile] [varchar](15) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Password] [nvarchar](256) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsAdmin] [bit] NOT NULL,
 CONSTRAINT [PK_UserData] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
